In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
dataset = pd.read_csv('tv_show_viewers_datasest.csv')

In [3]:
dataset.head()

,Episode,Character1_appeared,Character2_appeared,Character3_appeared,Character4_appeared,Character5_appeared,Fight_scenes,Comedy_scences,Romance_scence,Viewers
0,Episode001,3,5,2,4,4,3,7,9,888983
1,Episode002,4,6,3,5,3,4,8,7,888737
2,Episode003,2,4,1,3,5,2,6,8,887743
3,Episode004,4,6,3,5,2,5,8,7,808437
4,Episode005,5,7,4,6,4,2,6,6,777626

In [4]:
def train_test():
    
    features = []
    target = []
    
    for char_1, char_2, char_3, char_4, char_5, fight, comedy, romance, viewers in zip(dataset['Character1_appeared'],
                                                                                      dataset['Character2_appeared'],
                                                                                      dataset['Character3_appeared'],
                                                                                      dataset['Character4_appeared'],
                                                                                      dataset['Character5_appeared'],
                                                                                      dataset['Fight_scenes'],
                                                                                      dataset['Comedy_scences'],
                                                                                      dataset['Romance_scence'],
                                                                                      dataset['Viewers']):
            features.append([char_1, char_2, char_3, char_4, char_5, fight, comedy, romance])
            target.append(viewers)
        
    return features, target

In [5]:
train_X, train_Y = train_test()

In [6]:
train_X

[[3, 5, 2, 4, 4, 3, 7, 9],
 [4, 6, 3, 5, 3, 4, 8, 7],
 [2, 4, 1, 3, 5, 2, 6, 8],
 [4, 6, 3, 5, 2, 5, 8, 7],
 [5, 7, 4, 6, 4, 2, 6, 6],
 [2, 4, 1, 3, 1, 1, 7, 7],
 [1, 3, 0, 2, 8, 4, 8, 6],
 [0, 2, 3, 1, 5, 3, 6, 5],
 [2, 4, 1, 3, 3, 2, 9, 6],
 [3, 5, 2, 4, 9, 6, 7, 5],
 [4, 6, 3, 5, 3, 3, 6, 7],
 [1, 3, 0, 2, 4, 2, 8, 6],
 [7, 9, 6, 8, 5, 4, 7, 5],
 [3, 5, 2, 4, 2, 2, 5, 8],
 [2, 4, 1, 3, 6, 3, 6, 5],
 [4, 6, 3, 5, 1, 1, 7, 6],
 [5, 7, 4, 6, 8, 3, 5, 5],
 [6, 8, 5, 7, 2, 2, 8, 7],
 [7, 9, 6, 8, 3, 4, 5, 6],
 [1, 3, 0, 2, 4, 1, 8, 8],
 [3, 5, 2, 4, 1, 3, 7, 9],
 [6, 8, 5, 7, 6, 2, 6, 6],
 [3, 5, 2, 4, 3, 1, 9, 9],
 [7, 9, 6, 8, 2, 4, 5, 7],
 [2, 4, 1, 3, 8, 3, 6, 8],
 [4, 6, 3, 5, 3, 2, 7, 6],
 [3, 5, 2, 4, 4, 3, 8, 7],
 [5, 7, 4, 6, 5, 1, 9, 6],
 [2, 4, 1, 3, 2, 4, 8, 8],
 [0, 2, 1, 1, 5, 1, 8, 6],
 [3, 5, 2, 4, 3, 2, 8, 7],
 [4, 6, 3, 5, 1, 2, 7, 8],
 [1, 3, 0, 2, 2, 3, 6, 6],
 [2, 4, 1, 3, 6, 1, 7, 7],
 [5, 7, 4, 6, 4, 2, 6, 9],
 [2, 4, 1, 3, 3, 3, 8, 7],
 [1, 3, 0, 2, 2, 2, 6, 6],
 [4, 6, 3, 5, 4, 3, 7, 8],
 [3, 5, 2, 4, 3, 2, 6, 6],
 [2, 4, 1, 3, 2, 3, 7, 7],
 [1, 3, 0, 2, 1, 2, 8, 6],
 [5, 7, 4, 6, 6, 3, 6, 5],
 [2, 4, 1, 3, 4, 2, 7, 6],
 [1, 3, 0, 2, 3, 3, 8, 8],
 [6, 8, 5, 7, 2, 2, 9, 9],
 [2, 4, 1, 3, 5, 3, 6, 8],
 [8, 10, 7, 9, 4, 2, 7, 7],
 [2, 4, 1, 3, 3, 3, 8, 8],
 [1, 3, 0, 2, 2, 2, 6, 7],
 [3, 5, 2, 4, 1, 3, 7, 8]]

In [7]:
train_Y

[888983,
 888737,
 887743,
 808437,
 777626,
 877672,
 799867,
 656765,
 798732,
 506556,
 696453,
 621321,
 453234,
 897653,
 443535,
 723454,
 354234,
 808324,
 432534,
 886543,
 899876,
 564533,
 908654,
 876553,
 896574,
 723454,
 812312,
 709876,
 897654,
 708983,
 762342,
 875644,
 654564,
 789564,
 921084,
 897423,
 552342,
 798345,
 665434,
 708345,
 609834,
 560973,
 665453,
 987342,
 907823,
 887623,
 708242,
 898723,
 765434,
 883234]

In [8]:
regression = LinearRegression()
regression.fit(train_X, train_Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [9]:
regression.score(train_X, train_Y)

0.76146239427050044

In [10]:
regression.predict([[5, 3, 4, 4, 2, 8, 3, 5]])

array([ 529362.76709687])