In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
dataset = pd.read_excel('train.xlsx')

In [3]:
dataset.head()

,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,10board,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,"board ofsecondary education,ap",...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,cbse,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,cbse,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,cbse,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,cbse,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [8]:
def train_test():
    features = []
    target = []
    
    for per_10,per_12,colg_gpa, english, logical, quant, salary in zip(dataset['10percentage'],
                                                                      dataset['12percentage'],
                                                                       dataset['collegeGPA'],
                                                                      dataset['English'],
                                                                      dataset['Logical'],
                                                                      dataset['Quant'],
                                                                      dataset['Salary']):
        features.append([per_10, per_12, colg_gpa, english, logical, quant])
        target.append(salary)
        
    return features, target

In [9]:
features, target = train_test()

In [11]:
from sklearn.cross_validation import train_test_split

In [12]:
train_X, test_x, train_y, test_y = train_test_split(features, target, test_size=0.3)

In [14]:
print(len(train_X))

2798

In [15]:
print(len(test_x))

1200

In [17]:
print(len(train_y))

2798

In [18]:
print(len(test_y))

1200

In [19]:
regression = LinearRegression()
regression.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
regression.score(train_X, train_y)

0.09565347001840141

In [22]:
regression.predict([[87.5,79.8,76,598,540,650]])

array([ 380185.77417846])

In [23]:
from sklearn.metrics import accuracy_score

In [26]:
y_pred = regression.predict(test_x)

In [30]:
len(y_pred)

1200

In [31]:
len(test_y)

1200