In [1]:
import pandas as pd

In [2]:
data_1 = [12,23,45,67,15,20,19]
data_2 = [54,23,43,16,36,41,10]

series_1 = pd.Series(data_1, index = ['a', 'b', 'c', 'd', 'e', 'f', 'g'])
series_2 = pd.Series(data_2, index = ['e', 'g', 'h', 'c', 'a', 'i', 'k'])

In [3]:
dataset = series_1 + series_2

In [4]:
dataset

a    48.0
b     NaN
c    61.0
d     NaN
e    69.0
f     NaN
g    42.0
h     NaN
i     NaN
k     NaN
dtype: float64

In [5]:
dataset.isnull()

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h     True
i     True
k     True
dtype: bool

In [6]:
dataset.dropna()

a    48.0
c    61.0
e    69.0
g    42.0
dtype: float64

In [10]:
dataset.fillna(0, inplace=True)

In [11]:
dataset

a    48.0
b     0.0
c    61.0
d     0.0
e    69.0
f     0.0
g    42.0
h     0.0
i     0.0
k     0.0
dtype: float64

In [12]:
dataset.describe()

count    10.000000
mean     22.000000
std      29.268869
min       0.000000
25%       0.000000
50%       0.000000
75%      46.500000
max      69.000000
dtype: float64